@import '../styles/functions', '../styles/variables';

.textFieldSection {
  display: flex;
  flex-grow: 1 ;
  margin-top: spacing(2);
}

.textFieldName {
  flex-grow: 1;
  margin-right: spacing(1);
}

.textFieldPhone {
  flex-grow: 1;
  margin-left: spacing(1);
}

.textFieldEmail {
  flex-grow: 1;
  margin-top: spacing(2);
}

.banner, .bannerSpacer {
  height: 50vh;
}

.banner {
  z-index: -1;
  width: calc(100% - #{spacing(4)});
  max-width: spacing(174);
  position: fixed;
  background: url(/assets/iit-logo.png) center/contain;
  background-repeat: no-repeat;
  
  @media (min-width: #{spacing(75)}) {
    width: calc(100% - #{spacing(6)});
  }
}

.bannerSpacer {
  width: 100%;
}

.homeItems {
  width: 100%;
  max-width: spacing(175);
  min-height: 100%;
  margin: spacing(2) auto spacing(10);
  
  @media (min-width: #{spacing(75)}) {
    margin: spacing(3) auto spacing(11);
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
