@import '../styles/functions', '../styles/variables';

.banner, .bannerSpacer {
  height: 50vh;
  width: calc(100vw - #{spacing(4)});
  
  @media (min-width: #{spacing(75)}) {
    width: calc(100vw - #{spacing(6)});
  }
}

.banner {
  z-index: -1;
  max-width: spacing(174);
  position: fixed;
  background: url(/assets/colorful-city.png) center/contain;
  background-repeat: no-repeat;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeItems {
  min-height: 100%;
}
