.textFieldSection {
  display: flex;
  flex-grow: 1;
  margin-top: 16px;
}
.textFieldLeft {
  flex-grow: 1;
  margin-right: 8px;
}
.textFieldRight {
  flex-grow: 1;
  margin-left: 8px;
}
.textFieldWide {
  flex-grow: 1;
  margin-top: 16px;
}