// export variables for theme things
@import './functions', './variables';

html, body, #app {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  // background-color: $darkBackground;
}

.abcRioButton {
  background-color: $darkBackground !important;
}