$primaryDark: #283618;
$primaryDarkText: #FEFAE0;
$secondaryDark: #BC6C25;
$secondaryDarkText: #283618;
$darkBackground: #283618;

$primaryLight: #DDA15E;
$primaryLightText: #283618;
$secondaryLight: #606C38;
$secondaryLightText: #283618;
$lightBackground: #FEFAE0;
