@import '../../styles/functions', '../../styles/variables';

.contents {
  padding-top: spacing(10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  
  @media (min-width: #{spacing(75)}) {
    padding-top: spacing(13);
    min-height: 100vh;
  }
}

.container {
  width: 100vw;
  max-width: spacing(186);
}

.backgroundColorizer {
  background: linear-gradient($primary 50%, 90%, $secondary);
}

.footer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: $lightText;
  padding: spacing(1) 0;
  margin-top: spacing(2);
  
  @media (min-width: #{spacing(75)}) {
    padding: spacing(2) 0;
    max-width: spacing(180);
    margin: spacing(3) auto 0;
  }
}

.emailAdmins {
  display: flex;
  padding: 0 spacing(1);
  margin: 0 spacing(1) 0 0;
  @media (min-width: 376px) {
    margin: 0 spacing(1) 0 spacing(3);
  }
  @media (min-width: 455px) {
    margin: 0 spacing(1);
  }
  color: $lightText;
}

.vertical {
  display: flex;
  align-items: center;
  color: $lightText;
}
