@import '../../styles/functions', '../../styles/variables';

.footerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: spacing(182);
  margin: 0 auto;
  z-index: -1;
  
  @media (max-width: 455px) {
    padding: 0 spacing(1);
  }

  .footer {
    width: 100%;
    max-height: spacing(8);
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: $darkBackground;
    color: $primaryDarkText;
    padding-bottom: spacing(.5);
  
    @media (min-width: 455px) {
      padding: spacing(1) 0;
    }
  }
}

.emailAdmins {
  display: flex;
  padding: 0 spacing(1);
  margin: 0 spacing(1) 0 0;
  @media (min-width: 343px) {
    margin: 0 spacing(1) 0 spacing(3);
  }
  @media (min-width: 359px) {
    margin: 0 spacing(1) 0 spacing(5);
  }
  @media (min-width: 455px) {
    margin: 0 spacing(1);
  }
  color: $primaryDarkText;
}

.vertical {
  display: flex;
  align-items: center;
  color: $primaryDarkText;
}

.contents {
  position: fixed;
  top: spacing(8);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow-y: scroll;
  
  @media (min-width: #{spacing(75)}) {
    top: spacing(10);
  }
}