@import '../../styles/functions', '../../styles/variables';

.frame, .frameHighContrast {
  width: 100vw;
  height: calc(100% - #{spacing(8)});
  overflow-x: hidden;

  &HighContrast {
    height: calc(100% - #{spacing(12)});
  }

  @media (min-width: #{spacing(75)}) {
    height: calc(100% - #{spacing(10)});

    &HighContrast {
      height: calc(100% - #{spacing(14)});
    }
  }
}

.contents, .contentsHighContrast {
  padding-top: spacing(2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - #{spacing(8)});
  
  &HighContrast {
    min-height: calc(100vh - #{spacing(12)});
  }

  @media (min-width: #{spacing(75)}) {
    padding-top: spacing(3);
    min-height: calc(100vh - #{spacing(10)});

    &HighContrast {
      min-height: calc(100vh - #{spacing(14)});
    }
  }
}

.container {
  width: 100vw;
  max-width: spacing(186);
}

.backgroundColorizer, .backgroundColorizerHighContrast {
  width: 100vw;
  background: linear-gradient($primary 50%, 90%, $secondary);

  &HighContrast {
    background: linear-gradient($highPrimary 50%, 90%, $highBackground);
  }
}

.footer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: $lightText;
  padding: spacing(1) 0;
  margin-top: spacing(2);
  
  @media (min-width: #{spacing(75)}) {
    padding: spacing(2) 0;
    max-width: spacing(180);
    margin: spacing(3) auto 0;
  }
}

.emailAdmins {
  display: flex;
  padding: 0 spacing(1);
  margin: 0 spacing(1) 0 0;
  @media (min-width: 376px) {
    margin: 0 spacing(1) 0 spacing(3);
  }
  @media (min-width: 455px) {
    margin: 0 spacing(1);
  }
  color: $lightText;
}

.vertical {
  display: flex;
  align-items: center;
  color: $lightText;
}
