.appBar {
  z-index: 1;
  width: 100vw;
  flex-direction: row;
  color: #DDD;
}

.spacer {
  margin: auto;
  width: 100%;
  max-width: 1456px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px 16px;
  @media (min-width: 600px) {
    padding: 16px 24px;
  }
}

.button {
  margin-left: 24px;
}

.tab {
  display: none;
  @media (min-width: 784px) {
    width: 96px;
    min-width: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.menu {
  @media (min-width: 784px) {
    margin-left: 16px;
    width: 80px;
    display: none;
  }
}

.drawerPaper {
  width: 280px;
  transition: width .2 ease-in;
}

.drawerPaperClose {
  overflow-x: hidden;
  width: 0;
  border: 0;
  transition: width .2 ease-out;
}

.list {
  overflow: hidden;
  margin-top: 80px;
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 8px 24px;
}

.secondary {
  color: rgb(148, 43, 44);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.grow {
  flex-grow: 1;
}

.buttons {
  margin-left: 16px;
}
