<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="description" content="Private property rights information for owners and tenants.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="testing-webpack" content="<%= htmlWebpackPlugin.options.url %>">
    <meta name="google-signin-client_id" content="232224794524-imoonsmkl2m636nr4fj0ial43rq1m0rg.apps.googleusercontent.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://apis.google.com">
    <link rel="preload" href="/f5b74d7ffcdf85b9dd60130fa0b2c087.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/176f8f5bd5f02b3abfcf894955d7e919.woff2" as="font" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <style id="jss-server-side"><%= htmlWebpackPlugin.options.css(htmlWebpackPlugin.options.url).css %></style>
    <% preact.headEnd %>
</head>
<body>
    <% preact.bodyEnd %>
    <noscript>
        <style>h1,a{color:#DDD}article{z-index:10000;position:fixed;bottom:10vh;width:100%}h1,h4{text-align:center}</style>
        <article>
            <h1>This page requires Javascript</h1>
            <h4><a href="//privatepropertyrights.info/assets/legal/privacy-policy.html">privacy policy</a></h4>
            <h4><a href="//privatepropertyrights.info/assets/legal/terms-of-service.html">terms and conditions</a></h4>
        </article>
    </noscript>
</body>
</html>