<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="description" content="Private property rights information for owners and tenants.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="google-signin-client_id" content="232224794524-imoonsmkl2m636nr4fj0ial43rq1m0rg.apps.googleusercontent.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <% preact.headEnd %>
</head>
<body>
    <% preact.bodyEnd %>
    <noscript>
        <style>h1,a{color:#DDD;}article{z-index:10000;position:fixed;bottom:10vh;width:100%;}h1,h4{text-align:center;}</style>
        <div class="loader-wrapper">
            <div class="loader">
                <div class="la-pacman la-2x">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <article>
            <h1>This page requires Javascript</h1>
            <h4><a href="//privatepropertyrights.info/assets/legal/privacy-policy.html">privacy policy</a></h4>
            <h4><a href="//privatepropertyrights.info/assets/legal/terms-of-service.html">terms and conditions</a></h4>
        </article>
    </noscript>
    <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
    </script>
</body>
</html>