<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>In It Together</title>
    <meta name="google-site-verification" content="WEXkJc_YeOeMQhxI1hM9XrGSTMci915pVtY_ZGE-y0k" />
    <meta name="description" content="Oakland housing rights information for owners and tenants.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="webpack-prerendered-route" content="<%= htmlWebpackPlugin.options.url %>">
    <meta name="google-signin-client_id" content="114234450852-d7dafhg7eaea190qa2gcocpbe2mmm9qr.apps.googleusercontent.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://apis.google.com">
    <link rel="preload" href="/f5b74d7ffcdf85b9dd60130fa0b2c087.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/176f8f5bd5f02b3abfcf894955d7e919.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/870c8c1486f76054301a22c35403eae1.woff2" as="font" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
    <% preact.headEnd %>
    <style id="jss-server-side"><%= htmlWebpackPlugin.options.css(htmlWebpackPlugin.options.url).css %></style>
</head>
<body>
    <% preact.bodyEnd %>
    <noscript>
        <style>h1,a{color:#FFF}article{z-index:10000;position:fixed;bottom:10vh;width:100%}h1,h4{text-align:center}</style>
        <div class="loader-wrapper">
            <div class="loader">
                <div class="la-pacman la-2x">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <article>
            <h1>This page requires Javascript</h1>
            <h4><a href="//iitoakland.com/assets/legal/privacy-policy.html">privacy policy</a></h4>
            <h4><a href="//iitoakland.com/assets/legal/terms-of-service.html">terms and conditions</a></h4>
        </article>
    </noscript>
</body>
</html>